body{
    background-color: lightblue;
    margin:0;
    padding:0;
    border:0;
}
nav{
    margin: auto;
    width: 100%;
}
h1{
    max-width: 30%;
    background-color: lightblue;
    padding: 1px;
    margin : auto;
    margin-top: 10px;
    border: 2px solid lightblue;
    border-radius: 8px;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
}

footer{
   margin: auto;
    font-size: medium;
    float: left;
    position: relative;
    margin-left: 47%;
    cursor: pointer;
    margin-top: 490px;
    font-family: "Audiowide", sans-serif;

} 
/* Facebook */
h5{
    margin: auto;
    font-size: medium;
    float: left;
    position: relative;
    margin-left: 49%;
    cursor: pointer;
    margin-top: auto;
}
/* Instagram */
h6{
    margin: auto;
    font-size: medium;
    float: left;
    position: relative;
    margin-left: 51%;
    cursor: pointer;
    margin-top: -1.5%;
}
/* Social Sites */
/* .follow{
    margin-top: 35%;

} */
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -5px;
}
#login{
    float: right;
    margin-left: 23px;
}